@media screen and (min-width: 34rem) {
    body {
        font-size: 18px;
    }


    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FAF7F2;
    }


    header img {
        height: 70px;
    }

    header span {
        font-size: 2rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        border-radius: 8px;
    }

    .navigation ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
        background-color: #4A7C59;
        padding: 4px 8px;
        flex-direction: row;
        border-radius: 8px;
        
    }

    .navigation ul li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        border-bottom: none;
        padding: 4px 8px;
        border-radius: 6px;

    }

    .navigation ul li a:hover {
        background-color: #D9C7A3;

    }

    .banner h1 {
        
        font-size: 2rem;
        top: 40%;
        left: 50%;
    }

    .banner p {
        font-size: 1.2rem;
        top: 55%;
        left: 50%;
    }

    #vendors-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .news {
        padding: 20px;
    }

    .news-article {
        padding: 15px 20px;
    }

    .news h2 {
        font-size: 2rem;
    }
}    



@media screen and (min-width: 60rem) {
    body {
        font-size: 20px;
    }

    header span {
        font-size: 2.5rem;
    }

    .banner h1 {
        font-size: 3rem;
        top: 50%;
        left: 50%;
    }

    .banner p {
        font-size: 1.5rem;
        top: 65%;
        left: 50%;
    }

    #vendors-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 80%;
        margin: 0 auto;
    }

    .navigation ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
        background-color: #4A7C59;
        padding: 8px 16px;
        flex-direction: row;
        border-radius: 8px;
        
    }
}