* {
    margin: 0;
    box-sizing: border-box;
}

h1, h3, h3 {
    font-family: "Lora", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

li {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

body {
    margin: 0 0 0 20px;
    background-color: #FAF7F2;   
}

.desktop img, .mobile img {
    width: 40%;
    border: 2px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

.logo img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}