* {
    margin: 0;
    box-sizing: border-box;
}

h1, h3, h3 {
    font-family: "Lora", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0 0 0 20px;
    background-color: #FAF7F2;    
}