@media screen and (min-width: 32rem) {
    body {
        font-size: 18px;
    }

    header {
        flex-wrap: nowrap;
        align-items: center;
        padding: 1rem 2rem;
        background-color: rgb(160, 178, 212);
        position: relative;
    }

    .logo span {
        width: 100%;
        color: white;}

    header, main, nav, footer {
        max-width: 80%;
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: flex-end;
        border: none;
        color: black;
        background-color: rgb(160, 178, 212);
        justify-self: end;
        position: static;

    }
    .navigation ul {
        flex-direction: row;
        justify-content: space-around;
    }
    .navigation a {
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
    }

    .directory-container {
    grid-template-columns: repeat(3, 1fr);
  }

    .directory-container.grid-view {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .directory-container.grid-view h2 {
        font-size: 1rem;
    }

    .directory-container.grid-view img {
        width: 150px;
        height: auto;
    }

    .directory-container.list-view h2 {
        font-size: 1rem;
    }

    .directory-container p {
        font-size: 1rem;
    }

    .call-to-action {
        top: 65%;
        left: 50%;
        padding: 15px 30px;
        background-color: #2a5b8b;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        cursor: pointer;
    }
    
    .intro-text {
        text-align: center;
        padding: 20px;
        position: absolute;
        top: 30%;
        left: 10%;
        color: white;
    }

    .intro-text h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .intro-text p {
        font-size: 1rem;
    }

    /* weather and forecast*/
    #events {
        grid-template-columns: 3fr 1fr 1fr;
    }
    #current-weather p, #forecast p{
        font-size: 1rem;
        margin-bottom: 4px;
    }

    .event-section, .current-weather-section, .forecast-section {
        width: 100%;
        height: auto;
    }


    .page-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;   
        align-items: start;
    }

    .page-layout > h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        grid-column: 1 / -1; /* optional if inside a grid */
    }
    

    .place-card {
        grid-template-areas: 
        "image name"
        "image address"
        "image description"
        "image learn";
    }

    .discover-grid .place-card img {
        width: 300px;
        
    }

    .place-card img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}


